@page "/not-found"
@inherits StandardComponentBase

<PageMeta Title="@Localizer["Not Found"]"
          Description="@Localizer["This page was not found"]" />

<ContentWrapper>
    <h1>
        @Localizer["This page was not Not Found"]
    </h1>
</ContentWrapper>
