@inherits MainLayoutBase

<CascadingValue Name="Pathname" Value="@Pathname">
    @if (IsPreview)
    {
        <PreviewBanner />
    }
    <Header />
    <main>@Body</main>
    <Footer />
</CascadingValue>
