@using Blazor.Contentful_.Blog.Starter.Shared.Components.PostList.Pagination
@inherits PostListBase

<ol class="content-list">
    @foreach (var post in Posts)
    {
        <li @key="post.Sys.Id">
            <article class="content-list__post">
                <PublishedDate Date="@post.Date" />
                <a class="content-list__title-link"
                   href="@($"{Config.PageMeta.BlogIndex.Slug}/{post.Slug}")">
                    <h2 class="content-list__title">
                        @post.Title
                    </h2>
                </a>
                @if (post.Tags is not null)
                {
                    <Tags TagList="post.Tags" />
                }
                <div class="content-list__excerpt">
                    <BlazorMarkdown Markdown="@post.Excerpt" />
                </div>
            </article>
        </li>
    }
</ol>

<Pagination TotalPages="TotalPages"
            CurrentPage="CurrentPage"
            NextDisabled="NextDisabled"
            PrevDisabled="PrevDisabled" />
